@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400&display=swap");

@import "tailwindcss";

@config "../tailwind.config.js";

@font-face {
  font-family: "CustomFont";
  src: url("../src/assets/fonts/BingarDEMO-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  text-transform: lowercase;
}
/* 
@font-face {
  font-family: "CustomFont";
  src: url("../src//assets/fonts/RaelaGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

.logo-font {
  font-family: "CustomFont";
}

:root {
  /* You can use 242424, 10100e, or 121212 for dark themes */
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color: #000;
  --background: #f7f8fa;
  --nav-bg: #fff;
  --btn: #000;
  --btn-color: #fff !important;
  --gradient1: #e6e4e6;
  --gradient2: #ffffff;
  --soft-text: #1f2937;
  --shadow: #8cc84b;
  --panel-border: #575bd2;
  --panel-text: #fff;
  --color: #615fff;
  --color-secondary: #3f3f46;
  --secondary: #f7f8fa;
  --secondary-border: #efefe9;
  --panel-bg: #000;

  background: var(--background);

  transition: background-color 0.3s ease-in-out 0.4s, color 0.7s ease-in-out;
}

.dark {
  color: #fff;
  --btn: #fff;
  --btn-color: #000 !important;
  --nav-bg: #242424;
  --background: #000;
  --gradient1: #858285;
  --gradient2: #121212;
  --soft-text: #d1d5db;
  --shadow: #f3f4f2;
  --panel-border: #575bd2;
  --panel-text: #000;
  --color: #615fff;
  --color-secondary: #d4d4d8;
  --secondary: #10100e;
  --secondary-border: #1c1e24;
  --panel-bg: #fff;

  background: var(--background);
  transition: background-color 0.3s ease-in-out 0.4s, color 0.7s ease-in-out;
}

.darkCircle,
.lightCircle {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease;
}

.darkCircle {
  background-color: var(--background);
  clip-path: circle(0% at 100% 0%);
}

.lightCircle {
  background-color: var(--background);
  clip-path: circle(0% at 100% 0%);
}

.darkCircle.grow,
.lightCircle.grow {
  animation-name: circle-grow;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-grow {
  0% {
    clip-path: circle(0% at 100% 0%);
  }

  100% {
    clip-path: circle(150% at 100% 0%);
  }
}

@theme {
  --font-approach: "approach";
  --font-poppins: "poppins";
}

@layer base {
  button {
    @apply hover:scale-105 transition-transform;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-approach;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  input {
    @apply focus:outline-hidden;
  }
}

.nav-bg {
  background: var(--nav-bg);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(0px);
}

.text-shadow {
  text-shadow: 2px 1px 2px var(--shadow);
}

/* ::-webkit-scrollbar {
  width: 5px;
  display: none;
} */
