@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@config "../tailwind.config.js";

@font-face {
  font-family: "approach";
  src: url("./assets/fonts/Fontspring-DEMO-coresansc55.otf") format("opentype");
}

:root {
  /* You can use 242424, 10100e, or 121212 for dark themes */
  font-family: "Poppins";
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color: #000;
  --background: #eee;
  --nav-bg: #fff;
  --btn: #000;
  --btn-color: #fff !important;
  --gradient1: #e6e4e6;
  --gradient2: #ffffff;
  --soft-text: #1f2937;
  --shadow: #8cc84b;
  --panel-border: #575bd2;
  --panel-text: #fff;
  --color: #615fff;
  --color-secondary: #3f3f46;
  --secondary: #f7f8fa;
  --secondary-border: #efefe9;
  --panel-bg: #000;

  background: var(--background);
}

.dark {
  color: #fff;
  --btn: #fff;
  --btn-color: #000 !important;
  --nav-bg: #242424;
  --background: #000;
  --gradient1: #858285;
  --gradient2: #121212;
  --soft-text: #d1d5db;
  --shadow: #f3f4f2;
  --panel-border: #575bd2;
  --panel-text: #000;
  --color: #615fff;
  --color-secondary: #d4d4d8;
  --secondary: #10100e;
  --secondary-border: #1c1e24;
  --panel-bg: #fff;

  background: var(--background);
}

@theme {
  --font-approach: "approach";
  --font-poppins: "poppins";
}

@layer base {
  button {
    @apply hover:scale-105 transition-transform;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-approach;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  input {
    @apply focus:outline-hidden;
  }
}

.text-shadow {
  text-shadow: 2px 1px 2px var(--shadow);
}
