@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* .box {
  background-color: #fff;
  height: 100px;
  width: 200px;
  clip-path: path(
    "M,10,50 L 90,50, L 100, 40 L 100, 10 L 110, 0 L 190,0 L 200,10 L 200,190 L 190,200 L 10,200 L 0,190 L 0,60 L 10,50 Z"
  );
} */

.header-main {
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header-logo {
  width: auto;
  height: 45px;
  border-radius: 0 0 20px;
  position: relative;
  z-index: 20;
}

.header-theme {
  width: auto;
  height: 45px;
  border-radius: 0 0 0 20px;
  position: relative;
  z-index: 20;
}

.svg-corner {
  position: absolute;
}

.corner-logo-box-one {
  bottom: -30px;
  left: 0;
}

.corner-logo-box-two {
  right: -30px;
  top: 0;
}

.theme-curve-down {
  bottom: -30px;
  right: 16px;
  rotate: 90deg;
}

.theme-curve-top {
  left: -29px;
  top: 0;
  rotate: 90deg;
}
